div.page {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body {
	overflow-x: hidden;
}

p,
blockquote {
	font-family: 'Times New Roman', Times, serif;
	padding: 0px 20px;
	text-align: justify;
}

@media (max-width: 678px) {
	p,
	blockquote {
		font-size: 2.5vw;
	}
}

@media (min-width: 678px) {
	p,
	blockquote {
		font-size: 1.5vw;
	}
}

img {
	max-height: 80vh;
	max-width: 100%;
}

div.next-region {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 70vh;
}

div.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
